<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer">
    <title>{{ $.Site.Title }} | {{ $.Site.Params.Subtitle }}</title>
    <meta name="description" content="{{ $.Site.Params.Subtitle }}">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon-32x32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style-diy3.css">
    <link rel="stylesheet" href="/css/heti.min.css">
    <script defer src="https://views.edui.fun/lmm214.js" data-website-id="3db87b4b-30d7-45e5-a636-11294e3a5b1f"></script>
    <script  src="/js/quicklink.umd.js"></script>
    <script>window.addEventListener('load', () => {  quicklink.listen();});</script>
</head>

<body class="page-body {{ if .IsHome }}home{{ end }}">
    <!-- skin-white -->
    <div class="page-container">
        <div class="sidebar-menu toggle-others fixed">
            <div class="sidebar-menu-inner">
                <header class="logo-env">
                    <!-- logo -->
                    <div class="logo">
                        <a href="{{ $.Site.BaseURL }}" class="logo-expanded">
                            <img src="/images/logoedui.png"  style="width:280px" alt="" />
                        </a>
                        <a href="{{ $.Site.BaseURL }}" class="logo-collapsed">
                            <img src="/pwa-192x192.png" width="60" alt="" />
                        </a>
                    </div>
                    <div class="mobile-menu-toggle visible-xs">
                        <a href="javascript:void 0;" data-toggle="mobile-menu">
                            <i class="icon-bar"></i>
                        </a>
                    </div>
                </header>
                <ul id="main-menu" class="main-menu">
                    <li>
                        <a href="tsc/" target="_blank">
                            <i class="icon-lightbulb"></i>
                            <span class="title">提示词库</span>
                        </a>
                    </li>
                    {{ block "home-menu" . }}
                    {{end}}
                    {{ if not .IsHome }}
                    <li>
                        <a href="/">
                            <i class="icon-location"></i>
                            <span class="title">返回主页</span>
                        </a>
                    </li>
                    {{end}}
                    <li>
                        <a href="https://doubao.com/bot/sTvq8rQq">
                            <i class="icon-search"></i>
                            <span class="title">搜索本站</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            {{ block "navbar" . }}
            {{ end }}
            <br>
            {{ block "main" . }}
            {{ end }}

            <!-- Main Footer -->
            <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
            <!-- Add class "sticky" or "fixed" -->
            <footer class="main-footer sticky footer-type-1">
                <div class="footer-inner">
                    <!-- Add your copyright text here -->
                    <div class="footer-text">
                        <span>宁波市创新互动教学名师工作室</span>
                        <br>
                        ©2020-2025 Edui123.com 
                    </div>
                    <div class="go-up">
                        <a href="javascript:void 0;" rel="go-top">
                            <i class="icon-up"></i>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    {{ block "footer" . }}
    {{end}}

</body>
</html>