<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer">
    <title>{{ $.Site.Title }} | {{ $.Site.Params.Subtitle }}</title>
    <meta name="description" content="{{ $.Site.Params.Subtitle }}">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style-diy3.css">
    <link rel="stylesheet" href="/css/heti.min.css">
    <script async defer data-website-id="65a1e3d9-dd6d-4b1e-ba81-cbc5f92ed132" src="https://u.edui.fun/lmmtj.js"></script>
    <script  src="https://jsd.cdn.zzko.cn/npm/quicklink@2.3.0/dist/quicklink.umd.js"></script>
    <script>window.addEventListener('load', () => {  quicklink.listen();});</script>
</head>

<body class="page-body {{ if .IsHome }}home{{ end }}">
    <!-- skin-white -->
    <div class="page-container">
        <div class="sidebar-menu toggle-others fixed">
            <div class="sidebar-menu-inner">
                <header class="logo-env">
                    <!-- logo -->
                    <div class="logo">
                        <a href="{{ $.Site.BaseURL }}" class="logo-expanded">
                            <img src="/images/eduilogo.png"  style="height:180px" alt="" />
                        </a>
                        <a href="{{ $.Site.BaseURL }}" class="logo-collapsed">
                            <img src="/images/eduilogo.png" width="60" alt="" />
                        </a>
                    </div>
                    <div class="mobile-menu-toggle visible-xs">
                        <a href="javascript:void 0;" data-toggle="mobile-menu">
                            <i class="icon-bar"></i>
                        </a>
                    </div>
                </header>
                <ul id="main-menu" class="main-menu">
                    {{ block "home-menu" . }}
                    {{end}}
                    {{ if not .IsHome }}
                    <li>
                        <a href="/">
                            <i class="icon-location"></i>
                            <span class="title">返回主页</span>
                        </a>
                    </li>
                    {{end}}
                    <li>
                        <a href="/archives">
                            <i class="icon-doc"></i>
                            <span class="title">教程汇总</span>
                        </a>
                    </li>
                    <li>
                        <a href="/about">
                            <i class="icon-user"></i>
                            <span class="title">关于本站</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            {{ block "navbar" . }}
            {{ end }}

            {{if eq $.Site.Params.jinrishici "true"}}
            <!-- 今日诗词 start-->
            <div id="poem_content">
                <h3 id="poem_sentence"></h3><span id="poem_info"></span>
            </div>
            <!-- 今日诗词 end-->
            {{ else }}
            <br/>
            {{ end }}

            {{ block "main" . }}
            {{ end }}

            <!-- Main Footer -->
            <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
            <!-- Add class "sticky" or "fixed" -->
            <footer class="main-footer sticky footer-type-1">
                <div class="footer-inner">
                    <!-- Add your copyright text here -->
                    <div class="footer-text">
                        ©2020-2022 Edui123.com 总访问量 <span id="pvStatic">0</span> 次
                    </div>
                    <div class="go-up">
                        <a href="javascript:void 0;" rel="go-top">
                            <i class="icon-up"></i>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    {{if eq $.Site.Params.jinrishici "true"}}
    <script src="//sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
    <script type="text/javascript">
    jinrishici.load(function(result) {
        var sentence = document.querySelector("#poem_sentence")
        var info = document.querySelector("#poem_info")
        sentence.innerHTML = result.data.content
        info.innerHTML = '【' + result.data.origin.dynasty + '】' + result.data.origin.author + '《' + result.data.origin.title + '》'
    });
    </script>
    {{end}}

    {{ block "footer" . }}
    {{end}}
    <script>
        umiTongji()
        function umiTongji(){
            var umiId = "65a1e3d9-dd6d-4b1e-ba81-cbc5f92ed132"
            var umiToken = "o7UpYT1CFrJwL0lmIOY2IzKz23jJdQ3S/gVJJwlK9a+rNtJjXB/7sfEEKXfODAGTXe+d0/wE0tjib+iOZ1eo864qvspZBnt0bzO1edvhnHI6pZ7STLG/8OqJFoJEez0zUvme0XdkYHS+arEptgK0WXijkB2xmfEtD/2lfR5aLwY4QOjmCN+ADzt9TVdNV+bKfirH2s8fKvzcQEKxUCqXxDNMHPzRrHwyEGqv0GZ8CwQqTqL5hdfGsApq9p5XX19X4eaurjFFeBBAjPXu51stmCc82iBkqNhB6y7qT6xHdONqmoaz85gKVPgt/KAaNNIrx+ydW87DbmRi3XTJqj8J4bkgDcLqiV6Mc9UoWZCwf+UUvOtkY6vWwBCRV4Zd4YuFNiUNfw6izIg1Psj+Jjyej4w2oKABSVdrEWLFAL6bhkMzSQLlsl2imzfPMdw="
            var umiTime = Date.parse(new Date()); //获取当前时间戳
            var umiUrl = "https://u.edui.fun/api/websites/"+umiId+"/stats?start_at=0000000000&end_at="+umiTime;
            fetch(umiUrl,{
              method: 'GET',
              mode: 'cors',
              cache: 'default',
              headers: {
                'Authorization': 'Bearer ' + umiToken,
                'Content-Type': 'application/json'
              }
            })
            .then(res => res.json()).then(resdata => {
              document.querySelector('#pvStatic').innerHTML = resdata.pageviews.value
            });
          }
    </script>
</body>
</html>