{{ define "main" }}
<article class="entry heti">
    <h2 class="post-title">{{ .Title | markdownify }}</h2>
    <div class="post-content">
        {{ if .Params.toc }}{{ .TableOfContents }}{{ end }}
        {{ .Content }}
        {{ .Render "path"}}
    </div>
</article>

{{ if .Params.comment }}
<div class="heti">
    <h3>欢迎评论</h3>
    <div id="tcomment"></div>
</div>
<script src="/res/js/twikoo168.min.js"></script>
<script>twikoo.init({ envId: 'https://pl.edui.fun/', el: '#tcomment' })</script>
{{ end }}

{{ end }}