body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0
}

#root,
.app,
body,
html {
    height: 100%;
    width: 100%
}

.app {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 1em
}

.app-header,
.control,
.left {
    display: flex;
    flex-direction: row
}

.app-header {
    padding: 0 100px;
    -webkit-user-select: none;
    user-select: none
}

.app-header,
.control {
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%
}

.control {
    gap: 30px
}

.left {
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    justify-content: space-between
}

.left span {
    font-size: 40px;
    line-height: 30px
}

.correct-label {
    color: #158d69
}

.label-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

.label-box-label {
    color: #777;
    font-size: small;
    font-weight: 700
}

.label-box-text {
    font-size: 40px;
    line-height: 30px;
    min-height: 30px
}

.btn-svg {
    fill: #fff;
    width: 14px
}

.game-svg {
    fill: transparent;
    cursor: pointer;
    flex-shrink: 1;
    height: 100%
}

#game-text,
#outline {
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none
}

#outline {
    stroke: #222;
    stroke-width: .3
}

#nine-line {
    stroke: #111;
    stroke-width: .6
}

#zoom line,
#zoom rect {
    stroke: blue;
    stroke-width: 1;
    stroke-dasharray: 3
}

#game-text {
    font-family: sans-serif;
    font-size: 20px;
    opacity: .7
}

#game-text .rect-correct {
    fill: #158d69
}

#game-text .rect-incorrect {
    fill: #ab2229
}

#game-text text {
    fill: #fff
}

#game-text line {
    stroke: #000;
    stroke-width: 1.1
}

.shown-0 {
    fill: #8dd3c7
}

.shown-1 {
    fill: #ffffb3
}

.shown-2 {
    fill: #bebada
}

.shown-3 {
    fill: #fb8072
}

.shown-4 {
    fill: #80b1d3
}

.shown-5 {
    fill: #fdb462
}

.shown-6 {
    fill: #b3de69
}

.shown-0,
.shown-1,
.shown-2,
.shown-3,
.shown-4,
.shown-5,
.shown-6 {
    fill-opacity: 1;
    stroke: #111;
    stroke-width: .5
}

button {
    -webkit-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 4px 9px rgba(39, 174, 96, .15);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap
}

button:hover {
    background-color: #1e8449;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition-duration: .35s
}

button:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    transition-duration: .35s
}

button:hover {
    box-shadow: 0 6px 12px rgba(39, 174, 96, .2)
}

/*# sourceMappingURL=main.ff7a6666.css.map*/