{{ define "home-menu" }}
        {{ range .Site.Data.links.list }}
                    {{if .sub}}
                    <li class="has-sub">
                        <a>
                            <i class="{{.css}}"></i>
                            <span class="title">{{.tag}}</span>
                        </a>
                        <ul>
                            {{range .sub}}
                            <li>
                                <a href="javascript:" class="smooth" data-tag="#{{.tag}}">
                                    <i class="{{.css}}"></i>
                                    <span class="title">{{.tag}}</span>
                                </a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>
                    {{ else }}
                    <li>
                        <a href="javascript:" class="smooth" data-tag="#{{.tag}}">
                            <i class="{{.css}}"></i>
                            <span class="title">{{.tag}}</span>
                        </a>
                    </li>
                    {{ end }}
                    {{ end }}
{{ end }}

{{ define "navbar" }}
<nav class="navbar user-info-navbar" role="navigation">
    <ul class="user-info-menu left-links list-inline list-unstyled">
        <li class="hidden-sm hidden-xs">
            <a href="javascript:void 0;" data-toggle="sidebar">
                <i class="icon-bar"></i>
            </a>
        </li>
    </ul>
</nav>
{{ end }}

{{ define "main" }}
            <!-- 搜索框 start -->
            <div class="search-container">
                <input type="text" id="searchInput" class="form-control" placeholder="搜索名称、描述...">
            </div>
            <!-- 搜索结果 start -->
            <div id="searchResults" style="display: none;">
                <h4 class="text-gray"><i class="icon-search"></i> 搜索结果</h4>
                <div class="row" id="searchResultsContainer"></div>
                <br/>
            </div>
            <!-- 搜索结果 end -->
            
            <!-- 原始内容容器 -->
            <div id="originalContent">
                <!-- 最近使用 start -->
                <div id="recordALL">
                    <h4 class="text-gray"><i class="icon-fire" style="margin-right: 7px;" id="最近使用"></i>最近使用
                    </h4>
                    <div class="row">
                        <div id="recordItems"></div>
                    </div>
                </div>
                <br/>
            <!-- 最近使用 end -->
            {{ range .Site.Data.links.list }}
            {{if .sub}}
            {{range .sub}}
            <h4 class="text-gray"><i class="{{.css}}" style="margin-right: 7px;" id="{{.tag}}"></i>{{.tag}}</h4>
            <!-- 卡片样式项目 -->
            <div class="row">
                {{range .item}}
                {{if .siteSnip}}
                <div class="col-sm-3">
                    <div class="xe-widget xe-conversations card-style label-info box2" onclick="window.open('{{.siteLink}}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{.siteLink}}">
                        <div class="card-image">
                            <img data-src="{{.siteSnip}}" class="lozad card-preview" alt="{{.siteName}}">
                        </div>
                        <div class="card-content">
                            <div class="card-header">
                                <div class="card-title">
                                    <strong class="overflowClip_1">{{.siteName}}</strong>
                                </div>
                            </div>
                            <p class="card-description overflowClip_1">{{.description}}</p>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
            <!-- 普通样式项目 -->
            <div class="row">
                {{range .item}}
                {{if not .siteSnip}}
                <div class="col-sm-3">
                    {{if .siteImage}}
                    <div class="xe-widget xe-conversations box2 label-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<img src='{{.siteImage}}' width='148'>">
                    {{ else }}
                    <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('{{.siteLink}}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{.siteLink}}">
                    {{ end }}
                        <div class="xe-comment-entry">
                            <a class="xe-user-img">
                                {{if .siteLogo}}
                                    <img data-src="{{.siteLogo}}"  class="lozad img-circle" width="40" height="40">
                                {{ else }}
                                    <img avatar="{{.siteName}}"  class="lozad img-circle" width="40" height="40">
                                {{ end }}    
                            </a>
                            <div class="xe-comment">
                                <a href="javascript:void 0;" class="xe-user-name overflowClip_1">
                                    <strong>{{.siteName}}</strong>
                                </a>
                                <p class="overflowClip_2">{{.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
            <br />
            {{end}}
            {{ else }}
            <h4 class="text-gray"><i class="{{.css}}" style="margin-right: 7px;" id="{{.tag}}"></i>{{.tag}}
            </h4>
            <!-- 卡片样式项目 -->
            <div class="row">
                {{range .item }}
                {{if .siteSnip}}
                <div class="col-sm-3">
                    <div class="xe-widget xe-conversations card-style label-info box2" onclick="window.open('{{.siteLink}}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{.siteLink}}">
                        <div class="card-image">
                            <img data-src="{{.siteSnip}}" class="lozad card-preview" alt="{{.siteName}}">
                        </div>
                        <div class="card-content">
                            <div class="card-header">
                                <div class="card-title">
                                    <strong class="overflowClip_1">{{.siteName}}</strong>
                                </div>
                            </div>
                            <p class="card-description overflowClip_1">{{.description}}</p>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
            <!-- 普通样式项目 -->
            <div class="row">
                {{range .item }}
                {{if not .siteSnip}}
                <div class="col-sm-3">
                    {{if .siteImage}}
                    <div class="xe-widget xe-conversations box2 label-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<img src='{{.siteImage}}' width='148'>">
                    {{ else }}
                    <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('{{.siteLink}}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{.siteLink}}">
                    {{ end }}
                        <div class="xe-comment-entry">
                            <a class="xe-user-img">
                                {{if .siteLogo}}
                                <img data-src="{{.siteLogo}}"  class="lozad img-circle" width="40" height="40">
                                {{ else }}
                                <img avatar="{{.siteName}}"  class="lozad img-circle" width="40" height="40">
                                {{ end }}
                            </a>
                            <div class="xe-comment">
                                <a href="javascript:void 0;" class="xe-user-name overflowClip_1">
                                    <strong>{{.siteName}}</strong>
                                </a>
                                <p class="overflowClip_2">{{.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
            {{ end }}
            <br />
            {{ end }}
            </div>
            <!-- 原始内容容器结束 -->
{{ end }}


{{ define "footer" }}
<script src="js/jquery-1.11.1.min.js"></script>
<!-- 搜索功能 -->
<script type="text/javascript">
// 准备搜索数据
var searchData = [];

{{- range .Site.Data.links.list }}
{{- if .sub }}
{{- range .sub }}
{{- range .item }}
searchData.push({
  siteName: {{ .siteName | jsonify }},
  description: {{ .description | jsonify }},
  siteLink: {{ .siteLink | jsonify }},
  siteLogo: {{ .siteLogo | jsonify }},
  siteImage: {{ .siteImage | jsonify }},
  siteSnip: {{ .siteSnip | jsonify }}
});
{{- end }}
{{- end }}
{{- else }}
{{- range .item }}
searchData.push({
  siteName: {{ .siteName | jsonify }},
  description: {{ .description | jsonify }},
  siteLink: {{ .siteLink | jsonify }},
  siteLogo: {{ .siteLogo | jsonify }},
  siteImage: {{ .siteImage | jsonify }},
  siteSnip: {{ .siteSnip | jsonify }}
});
{{- end }}
{{- end }}
{{- end }}

// 搜索功能
function performSearch(query) {
    if (!query || query.trim() === '') {
        $('#searchResults').hide();
        $('#originalContent').show();
        return;
    }
    
    query = query.toLowerCase();
    var results = searchData.filter(function(item) {
        return item.siteName.toLowerCase().includes(query) ||
               item.description.toLowerCase().includes(query);
    });
    
    displaySearchResults(results);
}

function displaySearchResults(results) {
    var container = $('#searchResultsContainer');
    container.empty();
    
    if (results.length === 0) {
        container.html('<div class="col-sm-12"><p class="text-muted">未找到匹配的结果</p></div>');
    } else {
        // 分离卡片样式和普通样式的项目
        var cardItems = results.filter(function(item) { return item.siteSnip; });
        var normalItems = results.filter(function(item) { return !item.siteSnip; });
        
        // 先显示卡片样式项目
        if (cardItems.length > 0) {
            container.append('<div class="col-sm-12"><h5 class="text-muted">卡片预览</h5></div>');
            var cardRow = $('<div class="row"></div>');
            cardItems.forEach(function(item) {
                var cardHtml = '<div class="col-sm-3">';
                cardHtml += '<div class="xe-widget xe-conversations card-style label-info box2" onclick="window.open(\'' + item.siteLink + '\', \'_blank\')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="' + item.siteLink + '">';
                cardHtml += '<div class="card-image">';
                cardHtml += '<img data-src="' + item.siteSnip + '" class="lozad card-preview" alt="' + item.siteName + '">';
                cardHtml += '</div>';
                cardHtml += '<div class="card-content">';
                cardHtml += '<div class="card-header">';
                cardHtml += '<div class="card-title">';
                cardHtml += '<strong class="overflowClip_1">' + item.siteName + '</strong>';
                cardHtml += '</div>';
                cardHtml += '</div>';
                cardHtml += '<p class="card-description overflowClip_1">' + item.description + '</p>';
                cardHtml += '</div>';
                cardHtml += '</div>';
                cardHtml += '</div>';
                cardRow.append(cardHtml);
            });
            container.append(cardRow);
        }
        
        // 再显示普通样式项目
        if (normalItems.length > 0) {
            if (cardItems.length > 0) {
                container.append('<div class="col-sm-12"><h5 class="text-muted">其他项目</h5></div>');
            }
            var normalRow = $('<div class="row"></div>');
            normalItems.forEach(function(item) {
                var cardHtml = '<div class="col-sm-3">';
                if (item.siteImage) {
                    cardHtml += '<div class="xe-widget xe-conversations box2 label-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<img src=\'' + item.siteImage + '\' width=\'148\'>">';
                } else {
                    cardHtml += '<div class="xe-widget xe-conversations box2 label-info" onclick="window.open(\'' + item.siteLink + '\', \'_blank\')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="' + item.siteLink + '">';
                }
                
                cardHtml += '<div class="xe-comment-entry">';
                cardHtml += '<a class="xe-user-img">';
                
                if (item.siteLogo) {
                    cardHtml += '<img data-src="' + item.siteLogo + '" class="lozad img-circle" width="40" height="40">';
                } else {
                    cardHtml += '<img avatar="' + item.siteName + '" class="img-circle" width="40" height="40">';
                }
                
                cardHtml += '</a>';
                cardHtml += '<div class="xe-comment">';
                cardHtml += '<a href="javascript:void 0;" class="xe-user-name overflowClip_1">';
                cardHtml += '<strong>' + item.siteName + '</strong>';
                cardHtml += '</a>';
                cardHtml += '<p class="overflowClip_2">' + item.description + '</p>';
                cardHtml += '</div>';
                cardHtml += '</div>';
                cardHtml += '</div>';
                cardHtml += '</div>';
                
                normalRow.append(cardHtml);
            });
            container.append(normalRow);
        }
    }
    
    $('#originalContent').hide();
    $('#searchResults').show();
    
    // 重新初始化图片懒加载
    const observer = lozad();
    observer.observe();
    
    // 初始化LetterAvatar为没有logo的网站生成字母头像
    if (typeof LetterAvatar !== 'undefined') {
        LetterAvatar.transform();
    }
    
    // 重新绑定点击事件
    $('#searchResultsContainer .xe-widget').off('click').on('click', function(){
        var itemclick = $(this).attr('data-original-title');
        if (itemclick && !itemclick.startsWith('<img')) {
            var dataClick = JSON.parse(localStorage.getItem(myStorage)) || [];
            var indexNum = dataClick.indexOf(itemclick);
            if(indexNum >= 0 ){
                dataClick.splice(indexNum,1);
            }
            if(dataClick.length == 8 ){
                dataClick.shift();
            }
            dataClick.push(itemclick);
            localStorage.setItem(myStorage, JSON.stringify(dataClick));
        }
    });
}

function clearSearch() {
    $('#searchInput').val('');
    $('#searchResults').hide();
    $('#originalContent').show();
}

// 绑定搜索事件
$(document).ready(function() {
    $('#searchInput').on('input', function() {
        var query = $(this).val();
        performSearch(query);
    });
    
    $('#searchInput').on('keypress', function(e) {
        if (e.which === 13) { // Enter键
            e.preventDefault();
            var query = $(this).val();
            performSearch(query);
        }
    });
});
</script>
<!-- 锚点平滑移动 -->
<script type="text/javascript">
$(document).ready(function() {
     //img lazy loaded
     const observer = lozad();observer.observe();
    $(document).on('click', '.has-sub', function(){
        var _this = $(this)
        if(!$(this).hasClass('expanded')) {
           setTimeout(function(){
                _this.find('ul').attr("style","")
           }, 300);
          
        } else {
            $('.has-sub ul').each(function(id,ele){
                var _that = $(this)
                if(_this.find('ul')[0] != ele) {
                    setTimeout(function(){
                        _that.attr("style","")
                    }, 300);
                }
            })
        }
    })
    $('.user-info-menu .hidden-sm').click(function(){
        if($('.sidebar-menu').hasClass('collapsed')) {
            $('.has-sub.expanded > ul').attr("style","")
        } else {
            $('.has-sub.expanded > ul').show()
        }
    })
    $("#main-menu li ul li").click(function() {
        $(this).siblings('li').removeClass('active'); // 删除其他兄弟元素的样式
        $(this).addClass('active'); // 添加当前元素的样式
    });
    $("a.smooth").click(function(ev) {
        ev.preventDefault();
        public_vars.$mainMenu.add(public_vars.$sidebarProfile).toggleClass('mobile-is-visible');
        ps_destroy();
        $("html, body").animate({
            scrollTop: $($(this).attr("data-tag")).offset().top - 30
        }, {
            duration: 500,
            easing: "swing"
        });
    });
    return false;
});

var href = "";
var pos = 0;
$("a.smooth").click(function(e) {
    $("#main-menu li").each(function() {
        $(this).removeClass("active");
    });
    $(this).parent("li").addClass("active");
    e.preventDefault();
    href = $(this).attr("data-tag");
    pos = $(href).position().top - 30;
});

//浏览记录
var myStorage = 'webstack-'+window.location.hostname.replace(/\./g,'-');//'edui123'
var myStorageData = JSON.parse(localStorage.getItem(myStorage)) || [];
if(myStorageData.length == 0 ){
    localStorage.setItem(myStorage, '[]');
}else if(myStorageData.length > 0){
    $('#recordALL').attr("style","display:block")
    $.each(myStorageData, function(index, value) {
        $('[data-original-title="'+value+'"]').clone(true).prependTo('#recordItems').wrap('<div class="col-sm-3"></div>');
    });
}
$(".xe-widget").on("click", function(){
    var itemclick = $(this).attr("data-original-title")
    var dataClick = JSON.parse(localStorage.getItem(myStorage))
    var indexNum = dataClick.indexOf(itemclick)
    if(indexNum >= 0 ){
        dataClick.splice(indexNum,1)
    }
    if(dataClick.length == 8 ){
        dataClick.shift()
    }
    dataClick.push(itemclick);
    localStorage.setItem(myStorage, JSON.stringify(dataClick));
})
</script>	
<!-- Bottom Scripts -->

<script src="/js/bootstrap.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/resizeable.js"></script>
<script src="/js/xenon-toggle.js"></script>
<script src="/js/xenon-custom.js"></script>
<script src="/js/lozad.js"></script>
<script src="/js/LetterAvatar.js"></script>
{{ end }}