{{ define "home-menu" }}
        {{ range .Site.Data.links.list }}
                    {{if .sub}}
                    <li class="has-sub">
                        <a>
                            <i class="{{.css}}"></i>
                            <span class="title">{{.tag}}</span>
                        </a>
                        <ul>
                            {{range .sub}}
                            <li>
                                <a href="javascript:" class="smooth" data-tag="#{{.tag}}">
                                    <i class="{{.css}}"></i>
                                    <span class="title">{{.tag}}</span>
                                </a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>
                    {{ else }}
                    <li>
                        <a href="javascript:" class="smooth" data-tag="#{{.tag}}">
                            <i class="{{.css}}"></i>
                            <span class="title">{{.tag}}</span>
                        </a>
                    </li>
                    {{ end }}
                    {{ end }}
{{ end }}

{{ define "navbar" }}
<nav class="navbar user-info-navbar" role="navigation">
    <ul class="user-info-menu left-links list-inline list-unstyled">
        <li class="hidden-sm hidden-xs">
            <a href="javascript:void 0;" data-toggle="sidebar">
                <i class="icon-bar"></i>
            </a>
        </li>
    </ul>
</nav>
{{ end }}

{{ define "main" }}
            <!-- 搜索框 start -->
            <div class="search-container">
                <input type="text" id="searchInput" class="form-control" placeholder="搜索名称、描述...">
            </div>
            <!-- 搜索结果 start -->
            <div id="searchResults" style="display: none;">
                <h4 class="text-gray"><i class="icon-search"></i> 搜索结果</h4>
                <div class="row" id="searchResultsContainer"></div>
                <br/>
            </div>
            <!-- 搜索结果 end -->
            
            <!-- 原始内容容器 -->
            <div id="originalContent">
                <!-- 最近使用 start -->
                <div id="recordALL">
                    <h4 class="text-gray"><i class="icon-fire" style="margin-right: 7px;" id="最近使用"></i>最近使用
                    </h4>
                    <div class="row">
                        <div id="recordItems"></div>
                    </div>
                </div>
                <br/>
            <!-- 最近使用 end -->
            {{ range .Site.Data.links.list }}
            {{if .sub}}
            {{range .sub}}
            {{ $sub := .tag }}
            <h4 class="text-gray"><i class="{{.css}}" style="margin-right: 7px;" id="{{.tag}}"></i>{{.tag}}
            {{ if eq .tag "课中互动" }}
            <span id="cate-filter-bar" style="margin-top:10px;display:block;line-height:4rem;"></span>
            {{ end }}
            </h4>
            <div class="sub-content" data-subid="{{.tag}}">
            <div class="row">
                {{range .item}}
                {{if .siteSnip}}
                <div class="col-sm-3">
                    <div class="xe-widget xe-conversations card-style label-info box2" onclick="window.open('{{.siteLink}}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{.siteLink}}" {{ if eq $sub "课中互动" }}data-cate='{{ .siteCate | jsonify }}'{{ end }}>
                        <div class="card-image">
                            <img data-src="{{.siteSnip}}" class="lozad card-preview" alt="{{.siteName}}">
                            {{ if eq $sub "课中互动" }}
                            {{ $labels := dict "syds" "数与代数" "txjh" "图形与几何" "tjgl" "统计与概率" "zhsj" "综合与实践" "other" "其它" "1a" "一上" "1b" "一下" "2a" "二上" "2b" "二下" "3a" "三上" "3b" "三下" "4a" "四上" "4b" "四下" "5a" "五上" "5b" "五下" "6a" "六上" "6b" "六下" }}
                            {{ $isSubject := dict "syds" true "txjh" true "tjgl" true "zhsj" true "other" true }}
                            {{ $isGrade := dict "1a" true "1b" true "2a" true "2b" true "3a" true "3b" true "4a" true "4b" true "5a" true "5b" true "6a" true "6b" true }}
                            {{ $c := .siteCate }}
                            {{ $t := printf "%T" $c }}
                            <div class="cate-badges cate-badges-left">
                                {{ if or (eq $t "[]string") (eq $t "[]interface {}") }}
                                    {{ range $c }}
                                        {{ $keyStr := printf "%v" . }}
                                        {{ if (index $isSubject $keyStr) }}
                                            {{ with (index $labels $keyStr) }}<span class="cate-chip">{{ . }}</span>{{ else }}<span class="cate-chip">{{ $keyStr }}</span>{{ end }}
                                        {{ end }}
                                    {{ end }}
                                {{ else }}
                                    {{ $key := printf "%v" $c }}
                                    {{ if (index $isSubject $key) }}
                                        {{ with (index $labels $key) }}<span class="cate-chip">{{ . }}</span>{{ else }}<span class="cate-chip">{{ $key }}</span>{{ end }}
                                    {{ end }}
                                {{ end }}
                            </div>
                            <div class="cate-badges cate-badges-right">
                                {{ if or (eq $t "[]string") (eq $t "[]interface {}") }}
                                    {{ range $c }}
                                        {{ $keyStr := printf "%v" . }}
                                        {{ if (index $isGrade $keyStr) }}
                                            {{ with (index $labels $keyStr) }}<span class="cate-chip">{{ . }}</span>{{ else }}<span class="cate-chip">{{ $keyStr }}</span>{{ end }}
                                        {{ end }}
                                    {{ end }}
                                {{ else }}
                                    {{ $key := printf "%v" $c }}
                                    {{ if (index $isGrade $key) }}
                                        {{ with (index $labels $key) }}<span class="cate-chip">{{ . }}</span>{{ else }}<span class="cate-chip">{{ $key }}</span>{{ end }}
                                    {{ end }}
                                {{ end }}
                            </div>
                            {{ end }}
                        </div>
                        <div class="card-content">
                            <div class="card-header">
                                <div class="card-title">
                                    <strong class="overflowClip_1">{{.siteName}}</strong>
                                </div>
                            </div>
                            <p class="card-description overflowClip_1">{{.description}}</p>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
            <!-- 普通样式项目 -->
            <div class="row">
                {{range .item}}
                {{if not .siteSnip}}
                <div class="col-sm-3">
                    {{if .siteImage}}
                    <div class="xe-widget xe-conversations box2 label-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<img src='{{.siteImage}}' width='148'>" {{ if eq $sub "课中互动" }}data-cate='{{ .siteCate | jsonify }}'{{ end }}>
                    {{ else }}
                    <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('{{.siteLink}}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{.siteLink}}" {{ if eq $sub "课中互动" }}data-cate='{{ .siteCate | jsonify }}'{{ end }}>
                    {{ end }}
                        <div class="xe-comment-entry">
                            <a class="xe-user-img">
                                {{if .siteLogo}}
                                    <img data-src="{{.siteLogo}}"  class="lozad img-circle" width="40" height="40">
                                {{ else }}
                                    <img avatar="{{.siteName}}"  class="lozad img-circle" width="40" height="40">
                                {{ end }}    
                            </a>
                            <div class="xe-comment">
                                <a href="javascript:void 0;" class="xe-user-name overflowClip_1">
                                    <strong>{{.siteName}}</strong>
                                </a>
                                <p class="overflowClip_2">{{.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
            </div>
            <br />
            {{end}}
            {{ else }}
            <h4 class="text-gray"><i class="{{.css}}" style="margin-right: 7px;" id="{{.tag}}"></i>{{.tag}}
            </h4>
            <!-- 卡片样式项目 -->
            <div class="row">
                {{range .item }}
                {{if .siteSnip}}
                <div class="col-sm-3">
                    <div class="xe-widget xe-conversations card-style label-info box2" onclick="window.open('{{.siteLink}}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{.siteLink}}">
                        <div class="card-image">
                            <img data-src="{{.siteSnip}}" class="lozad card-preview" alt="{{.siteName}}">
                        </div>
                        <div class="card-content">
                            <div class="card-header">
                                <div class="card-title">
                                    <strong class="overflowClip_1">{{.siteName}}</strong>
                                </div>
                            </div>
                            <p class="card-description overflowClip_1">{{.description}}</p>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
            <!-- 普通样式项目 -->
            <div class="row">
                {{range .item }}
                {{if not .siteSnip}}
                <div class="col-sm-3">
                    {{if .siteImage}}
                    <div class="xe-widget xe-conversations box2 label-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<img src='{{.siteImage}}' width='148'>">
                    {{ else }}
                    <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('{{.siteLink}}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{.siteLink}}">
                    {{ end }}
                        <div class="xe-comment-entry">
                            <a class="xe-user-img">
                                {{if .siteLogo}}
                                <img data-src="{{.siteLogo}}"  class="lozad img-circle" width="40" height="40">
                                {{ else }}
                                <img avatar="{{.siteName}}"  class="lozad img-circle" width="40" height="40">
                                {{ end }}
                            </a>
                            <div class="xe-comment">
                                <a href="javascript:void 0;" class="xe-user-name overflowClip_1">
                                    <strong>{{.siteName}}</strong>
                                </a>
                                <p class="overflowClip_2">{{.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
            {{ end }}
            <br />
            {{ end }}
            </div>
            <!-- 原始内容容器结束 -->
{{ end }}


{{ define "footer" }}
<!-- 合并后的核心脚本 (替代 bootstrap / TweenMax / resizeable / xenon-toggle / xenon-custom / lozad) -->
<script src="/js/app.js"></script>
<script src="/js/LetterAvatar.js"></script>

<script type="text/javascript">
(function(){
  'use strict';

  /* =========== 搜索功能 =========== */
  var searchData = [];
  var linksData = null;
  var myStorage = 'webstack-' + window.location.hostname.replace(/\./g, '-');

  function loadLinksData(callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/data/links.json', true);
    xhr.onload = function() {
      if (xhr.status >= 200 && xhr.status < 400) {
        var data = JSON.parse(xhr.responseText);
        linksData = data;
        searchData = [];
        if (data.list) {
          data.list.forEach(function(category) {
            if (category.sub) {
              category.sub.forEach(function(subCategory) {
                if (subCategory.item) {
                  subCategory.item.forEach(function(item) {
                    searchData.push({
                      siteName: item.siteName || '',
                      description: item.description || '',
                      siteLink: item.siteLink || '',
                      siteLogo: item.siteLogo || '',
                      siteImage: item.siteImage || '',
                      siteSnip: item.siteSnip || ''
                    });
                  });
                }
              });
            } else if (category.item) {
              category.item.forEach(function(item) {
                searchData.push({
                  siteName: item.siteName || '',
                  description: item.description || '',
                  siteLink: item.siteLink || '',
                  siteLogo: item.siteLogo || '',
                  siteImage: item.siteImage || '',
                  siteSnip: item.siteSnip || ''
                });
              });
            }
          });
        }
        if (callback) callback();
      }
    };
    xhr.onerror = function() { console.error('无法加载链接数据'); };
    xhr.send();
  }

  function performSearch(query) {
    var searchResults = document.getElementById('searchResults');
    var originalContent = document.getElementById('originalContent');
    if (!query || query.trim() === '') {
      searchResults.style.display = 'none';
      originalContent.style.display = '';
      return;
    }
    query = query.toLowerCase();
    var results = searchData.filter(function(item) {
      return item.siteName.toLowerCase().includes(query) ||
             item.description.toLowerCase().includes(query);
    });
    displaySearchResults(results);
  }

  function displaySearchResults(results) {
    var container = document.getElementById('searchResultsContainer');
    container.innerHTML = '';

    if (results.length === 0) {
      container.innerHTML = '<div class="col-sm-12"><p class="text-muted">未找到匹配的结果</p></div>';
    } else {
      var cardItems = results.filter(function(item) { return item.siteSnip; });
      var normalItems = results.filter(function(item) { return !item.siteSnip; });

      if (cardItems.length > 0) {
        var cardRow = document.createElement('div');
        cardRow.className = 'row';
        cardItems.forEach(function(item) {
          var html = '<div class="col-sm-3">';
          html += '<div class="xe-widget xe-conversations card-style label-info box2" onclick="window.open(\'' + item.siteLink + '\', \'_blank\')" data-toggle="tooltip" data-placement="bottom" data-original-title="' + item.siteLink + '">';
          html += '<div class="card-image"><img data-src="' + item.siteSnip + '" class="lozad card-preview" alt="' + item.siteName + '"></div>';
          html += '<div class="card-content"><div class="card-header"><div class="card-title"><strong class="overflowClip_1">' + item.siteName + '</strong></div></div>';
          html += '<p class="card-description overflowClip_1">' + item.description + '</p></div></div></div>';
          cardRow.insertAdjacentHTML('beforeend', html);
        });
        container.appendChild(cardRow);
      }

      if (normalItems.length > 0) {
        if (cardItems.length > 0) {
          container.insertAdjacentHTML('beforeend', '<div class="col-sm-12"><h5 class="text-muted">其他项目</h5></div>');
        }
        var normalRow = document.createElement('div');
        normalRow.className = 'row';
        normalItems.forEach(function(item) {
          var html = '<div class="col-sm-3">';
          if (item.siteImage) {
            html += '<div class="xe-widget xe-conversations box2 label-info" data-toggle="tooltip" data-placement="bottom" data-original-title="<img src=\'' + item.siteImage + '\' width=\'148\'>">';
          } else {
            html += '<div class="xe-widget xe-conversations box2 label-info" onclick="window.open(\'' + item.siteLink + '\', \'_blank\')" data-toggle="tooltip" data-placement="bottom" data-original-title="' + item.siteLink + '">';
          }
          html += '<div class="xe-comment-entry"><a class="xe-user-img">';
          if (item.siteLogo) {
            html += '<img data-src="' + item.siteLogo + '" class="lozad img-circle" width="40" height="40">';
          } else {
            html += '<img avatar="' + item.siteName + '" class="img-circle" width="40" height="40">';
          }
          html += '</a><div class="xe-comment"><a href="javascript:void 0;" class="xe-user-name overflowClip_1"><strong>' + item.siteName + '</strong></a>';
          html += '<p class="overflowClip_2">' + item.description + '</p></div></div></div></div>';
          normalRow.insertAdjacentHTML('beforeend', html);
        });
        container.appendChild(normalRow);
      }
    }

    document.getElementById('originalContent').style.display = 'none';
    document.getElementById('searchResults').style.display = '';

    // 重新初始化图片懒加载
    var obs = lozad(); obs.observe();
    // 初始化 LetterAvatar
    if (typeof LetterAvatar !== 'undefined') { LetterAvatar.transform(); }

    // 搜索结果中的点击记录
    container.querySelectorAll('.xe-widget').forEach(function(widget) {
      widget.addEventListener('click', function() {
        var itemclick = this.getAttribute('data-original-title');
        if (itemclick && !itemclick.startsWith('<img')) {
          saveToHistory(itemclick);
        }
      });
    });
  }

  function clearSearch() {
    document.getElementById('searchInput').value = '';
    document.getElementById('searchResults').style.display = 'none';
    document.getElementById('originalContent').style.display = '';
  }
  window.clearSearch = clearSearch;

  /* =========== 浏览记录 =========== */
  function saveToHistory(url) {
    var dataClick = JSON.parse(localStorage.getItem(myStorage)) || [];
    var indexNum = dataClick.indexOf(url);
    if (indexNum >= 0) dataClick.splice(indexNum, 1);
    if (dataClick.length == 8) dataClick.shift();
    dataClick.push(url);
    localStorage.setItem(myStorage, JSON.stringify(dataClick));
  }

  function initBrowsingHistory() {
    var myStorageData = JSON.parse(localStorage.getItem(myStorage)) || [];
    if (myStorageData.length == 0) {
      localStorage.setItem(myStorage, '[]');
    } else if (myStorageData.length > 0) {
      var recordALL = document.getElementById('recordALL');
      var recordItems = document.getElementById('recordItems');
      if (recordALL) recordALL.style.display = 'block';
      myStorageData.forEach(function(value) {
        var source = document.querySelector('[data-original-title="' + value + '"]');
        if (source) {
          var clone = source.cloneNode(true);
          var wrapper = document.createElement('div');
          wrapper.className = 'col-sm-3';
          wrapper.appendChild(clone);
          recordItems.insertBefore(wrapper, recordItems.firstChild);
        }
      });
    }

    // 全局 xe-widget 点击记录
    document.addEventListener('click', function(ev) {
      var widget = ev.target.closest('.xe-widget');
      if (!widget) return;
      var itemclick = widget.getAttribute('data-original-title');
      if (itemclick && !itemclick.startsWith('<img')) {
        saveToHistory(itemclick);
      }
    });
  }

  /* =========== 锚点平滑移动 =========== */
  function initSmoothScroll() {
    document.addEventListener('click', function(ev) {
      var link = ev.target.closest('a.smooth');
      if (!link) return;
      ev.preventDefault();

      // 收起移动端菜单
      var mainMenu = public_vars.$mainMenu;
      var sidebarProfile = public_vars.$sidebarProfile;
      if (mainMenu) mainMenu.classList.toggle('mobile-is-visible');
      if (sidebarProfile) sidebarProfile.classList.toggle('mobile-is-visible');

      // 平滑滚动到锚点
      var tag = link.getAttribute('data-tag');
      var target = document.querySelector(tag);
      if (target) {
        var top = target.getBoundingClientRect().top + window.pageYOffset - 30;
        window.scrollTo({ top: top, behavior: 'smooth' });
      }

      // 侧边栏 active 状态
      document.querySelectorAll('#main-menu li').forEach(function(li) { li.classList.remove('active'); });
      if (link.parentElement) link.parentElement.classList.add('active');
    });
  }

  /* =========== 课中互动分类筛选 =========== */
  function parseCats(str) {
    var out = [];
    try {
      var parsed = JSON.parse(str);
      if (Array.isArray(parsed)) {
        for (var i = 0; i < parsed.length; i++) { out.push(String(parsed[i])); }
        return out;
      } else if (typeof parsed === 'string') {
        return [parsed];
      }
    } catch (e) {}
    var arr = (str || '').split(',');
    for (var i = 0; i < arr.length; i++) { var s = arr[i].trim(); if (s) out.push(s); }
    return out;
  }

  function buildFilters() {
    var container = document.querySelector('.sub-content[data-subid="课中互动"]');
    if (!container) return;
    var cards = container.querySelectorAll('.col-sm-3');
    var total = cards.length;
    var counts = {};
    cards.forEach(function(card) {
      var widget = card.querySelector('.xe-widget');
      if (!widget) return;
      var c = widget.getAttribute('data-cate');
      var categories = parseCats(c);
      for (var i = 0; i < categories.length; i++) {
        var k = String(categories[i]);
        counts[k] = (counts[k] || 0) + 1;
      }
    });
    var labels = {
      all:'全部', syds:'数与代数', txjh:'图形与几何', tjgl:'统计与概率', zhsj:'综合与实践', houke:'候课', xiti:'习题', other:'其它',
      '1a':'一上','1b':'一下','2a':'二上','2b':'二下','3a':'三上','3b':'三下','4a':'四上','4b':'四下','5a':'五上','5b':'五下','6a':'六上','6b':'六下'
    };
    var group1 = ['all','syds','txjh','tjgl','zhsj','houke','xiti','other'];
    var group2 = ['1a','1b','2a','2b','3a','3b','4a','4b','5a','5b','6a','6b'];
    var html = '';
    for (var i = 0; i < group1.length; i++) {
      var k = group1[i];
      var n = (k === 'all' ? total : (counts[k] || 0));
      var text = labels[k] || k;
      html += '<a href="javascript:" class="cate-filter' + (k === 'all' ? ' active' : '') + '" data-cate="' + k + '">' + text + '（' + n + '）</a>';
    }
    html += '<br/>';
    for (var j = 0; j < group2.length; j++) {
      var g = group2[j];
      var gn = counts[g] || 0;
      var gt = labels[g] || g;
      html += '<a href="javascript:" class="cate-filter" data-cate="' + g + '">' + gt + '（' + gn + '）</a>';
    }
    var filterBar = document.getElementById('cate-filter-bar');
    if (filterBar) filterBar.innerHTML = html;
  }

  function applyFilter() {
    var container = document.querySelector('.sub-content[data-subid="课中互动"]');
    if (!container) return;
    var activeBtn = document.querySelector('.cate-filter.active');
    var activeCate = activeBtn ? activeBtn.getAttribute('data-cate') : 'all';
    if (!activeCate || activeCate === 'all') {
      container.querySelectorAll('.col-sm-3').forEach(function(card) { card.style.display = ''; });
      return;
    }
    container.querySelectorAll('.col-sm-3').forEach(function(card) {
      var widget = card.querySelector('.xe-widget');
      if (!widget) return;
      var c = widget.getAttribute('data-cate');
      var categories = parseCats(c);
      card.style.display = categories.indexOf(String(activeCate)) !== -1 ? '' : 'none';
    });
  }

  /* =========== DOMContentLoaded =========== */
  document.addEventListener('DOMContentLoaded', function() {
    // 图片懒加载
    var obs = lozad(); obs.observe();

    // 搜索
    loadLinksData(function() {
      var searchInput = document.getElementById('searchInput');
      if (searchInput) {
        searchInput.addEventListener('input', function() { performSearch(this.value); });
        searchInput.addEventListener('keypress', function(e) {
          if (e.keyCode === 13) { e.preventDefault(); performSearch(this.value); }
        });
      }
    });

    // 平滑滚动
    initSmoothScroll();

    // 浏览记录
    initBrowsingHistory();

    // 分类筛选
    buildFilters();
    applyFilter();
    document.addEventListener('click', function(ev) {
      var btn = ev.target.closest('.cate-filter');
      if (!btn) return;
      ev.preventDefault();
      document.querySelectorAll('.cate-filter').forEach(function(b) { b.classList.remove('active'); });
      btn.classList.add('active');
      applyFilter();
    });
  });

})();
</script>
{{ end }}
