div,body{
	margin: 0;
	padding: 0;
}
p{
	height: 18px;
	margin: 8px 0;
}


body{
	background-color:#f47920;
	font-family: Arial;
}
.title{
    text-align: center;
    margin: 60px auto 0;
    font-size: 40px;

}
.board{
	border: 10px solid red;
	border-top-color: #78cdd1;
	border-right-color:#008792 ;
	border-bottom-color:#008792 ;
	border-left-color: #78cdd1;
	border-radius: 10px;
	width:339px;
	height:500px;
	margin:10px auto 0px;
	background-color:#aa2116;
}
.tic{
	border-radius: 3px;
	background-color:#77ac98;
	width:339px;
	display: flex;
	flex-wrap:wrap;
}
.box{
	display: inline-block;
    background-color:#ffce7b;
    width:103px;
    height:103px;
	margin: 5px;
	font-size: 80px;
	font-weight: bold;
	line-height: 100px;
	text-align: center;
	cursor:pointer;
}
.choose{
	margin:16px 0 5px 0;
	text-align: center;	
	border-radius:50%;
}
.dis{
	float:left;
	width:168px;
    text-align: right;	
}
.scope{
	margin-top: 3px;
	float:right;
	width:168px;
	text-align: left;
}