html,body#canvas_body{overflow-x:hidden;overflow-y:hidden;height:100%;}
body{font-family:-apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",sans-serif;-webkit-touch-callout:none;-webkit-text-size-adjust:none;-webkit-user-select:none;-webkit-highlight: none;-webkit-tap-highlight-color:rgba(0,0,0,0);margin:0;}
canvas:focus{outline:0;}
p,p a{color:#aaa;}
#page_body{margin-top:0.2rem;}
#canvasID{display:block;margin:0 auto;overflow:hidden;}
#div_radio{margin:2rem auto 0;text-align:center;color:#aaa;font-size:0.7rem;}
label{display:block;vertical-align:middle;}label,input,select {vertical-align:middle;}
.mui-switch{width:3rem;height:1.5rem;position:relative;border:1px solid #dfdfdf;background-color:#eee;box-shadow:#dfdfdf 0 0 0 0 inset;background-clip:content-box;display:inline-block;-webkit-appearance:none;user-select:none;outline:none;}
.mui-switch,.mui-switch:before{border-radius:1.5rem;border-top-left-radius:1.5rem;border-top-right-radius:1.5rem;border-bottom-left-radius:1.5rem;border-bottom-right-radius:1.5rem;
border-radius:1.5rem;border-top-left-radius:1.5rem;border-top-right-radius:1.5rem;border-bottom-left-radius:1.5rem;border-bottom-right-radius:1.5rem;}
.mui-switch:before{content:'';width:1.5rem;height:1.4rem;position:absolute;top:0px;left:0;background-color:#fff;box-shadow:0 1px 3px rgba(0,0,0,0.4);}
.mui-switch:checked{border-color:#366092;box-shadow:#366092 0 0 0 16px inset;background-color:#366092;}
.mui-switch:checked:before{left:1.5rem;}
.mui-switch.mui-switch-animbg{transition:background-color ease 0.4s;}
.mui-switch.mui-switch-animbg:before{transition:left 0.3s;}
.mui-switch.mui-switch-animbg:checked{box-shadow:#dfdfdf 0 0 0 0 inset;background-color:#366092;transition:border-color 0.4s,background-color ease 0.4s;}
.mui-switch.mui-switch-animbg:checked:before {transition:left 0.3s;}